PORT=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_LOGS=
MIGRATION_RUN=
DB_NAME=
ALLOWED_ORIGINS=
API_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
COOKIE_SECRET=
COOKIE_DOMAIN=
COOKIE_SECURE=
COOKIE_SAME_SITE=
JWT_SECRET=
JWT_EXPIRES_IN=
NODE_ENV=